{%- comment -%}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (required)
  - section_id: {String} The ID of the section that contains this card. (required)
  - sizes: {String} a list sizes of image.
  - class: {String} a list class.
  - image_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_alt_image: {Boolean} Show product alternative image. Default: false
  - show_secondary_image: {Boolean} Show product secondary image on hover. Default: false
  - show_only_image: {Boolean} Show only product image, ignore product information. Default: false
  - show_quick_view: {Boolean} Show  product quick view(quick shop) button.
  - show_quick_buy: {Boolean} Show quick buy button. 
  - hide_quick_view_on_desktop: {Boolean} Hide quick view on desktop. Default: false
  - hide_quick_view_on_mobile: {Boolean} Hide quick view on mobile. Default: false
  - show_price: {Boolean} Show  product price. Default: true
  - show_custom_size_selector: {Boolean} Show  product custom size selector. Default: true
  - show_rating: {Boolean} Show the product rating. Default: false
  - color_list: {Array}
  - size_list: {Array}
  - color_list: {Array}
  - show_notify_me: {Array}
  - render_as_list_item: {Boolean} Wrap banners and product card in list items. Default: false
  - list_item_class: {String} Class list for the optional list item wrapper

  Usage:
  {%- render 'card-product', card_product: product, show_vendor: section.settings.show_vendor -%}
{%- endcomment -%}

{%- liquid
  unless product_url
    assign product_url = card_product.url
  endunless
  assign featured_media = card_product.featured_media | default: settings.placeholder_img
  assign color_count = 0
  assign size_count = 0

  if show_only_image == nil
    assign show_only_image = false
  endif

  if show_secondary_image == nil
    assign show_secondary_image = settings.show_secondary_image
  endif

  assign next_media = card_product.media[featured_media.position] | default: card_product.media[1]

  assign alt_image = next_media
  for media in card_product.media
    if media.alt contains 'HOVER'
        assign alt_image = media
        break
    endif
  endfor

  if show_alt_image == true
    if show_secondary_image
      assign next_media = featured_media
      assign featured_media = alt_image
    else
      assign featured_media = alt_image
    endif
  else
    assign next_media = alt_image
  endif

  if show_quick_view == nil
    assign show_quick_view = settings.show_quick_view
  endif

  if show_quick_buy == nil
    assign show_quick_buy = settings.show_quick_buy
  endif

  if show_price == nil
    assign show_price = true
  endif

  if show_custom_size_selector == nil
    assign show_custom_size_selector = true
  endif

  if show_notify_me == nil
    assign show_notify_me = true
  endif

  if render_as_list_item == nil
    assign render_as_list_item = false
  endif

  if render_as_list_item and list_item_class == blank
    assign list_item_class = 'hdt-collection-item hdt-reval-item'
  endif

  
  if card_product.has_only_default_variant == false and settings.color_mode != 'hide' or settings.size_mode != 'hide'
     assign available_variants = card_product.variants | where: "available"
     for option in card_product.options_with_values
        assign name_downcase = option.name | downcase
        if settings.color_mode != 'hide' and color_list contains name_downcase and color_count == 0
          assign color_option_index = 'option' | append: forloop.index
          assign color_variants = option.values
          assign color_variants_avai = available_variants | map: color_option_index | uniq
          if settings.color_type == 'all'
            assign color_count = color_variants.size
          else
            if card_product.options_with_values.size == 1
              assign color_variants = color_variants_avai
            endif
            assign color_count = color_variants_avai.size
          endif
        elsif settings.size_mode != 'hide' and size_list contains name_downcase and size_count == 0
          assign size_option_name = option.name
          assign size_option_index = 'option' | append: forloop.index
          assign size_variants_avai = available_variants | map: size_option_index | uniq
          assign size_variants = option.values
          if settings.size_type == 'all'
            assign size_count = size_variants.size
          else
            if card_product.options_with_values.size == 1
              assign size_variants = size_variants_avai
            endif
            assign size_count = size_variants_avai.size
          endif
        endif
     endfor
  endif
  -%}

{% comment %} Banners {% endcomment %}
{%- assign banners = collection.metafields.custom.banners.value -%}

{% for item in banners %}
  {% if item.position != blank %}
    {% assign numberStart = item.position | minus: 0 %}
    {% liquid
      case item.width
        when '1':
          assign span_cols = 1
          assign ratio = '1'
        when '2':
          assign span_cols = 2
          assign ratio = 2.1
        when 'Full':
          assign span_cols = col_desktop
          assign ratio = 4.3
        endcase

        assign aspect_ratio = featured_media.aspect_ratio | times: ratio
        assign aspect_ratio_mb = featured_media.aspect_ratio | times: 1
    %}
    {% if index == numberStart %}
      {% assign text = item.text | metafield_tag %}
      {% if render_as_list_item %}
        <li class="{{ list_item_class }}">
      {% endif %}
      {% render 'promo-banner', button_text: item.button_url.value.text, url: item.button_url.value.url, image:  item.image, image_mobile: item.image_mobile, text: text, content_position: item.content_position, vertical_content_position: item.vertical_content_position, horizontal_content_position: item.horizontal_content_position, ratio: aspect_ratio, ratio_mb: aspect_ratio_mb, span_cols: span_cols, sizes: sizes %}
      {% if render_as_list_item %}
        </li>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
{% comment %} End Banners {% endcomment %}

  {% if render_as_list_item %}
    <li class="{{ list_item_class }}">
  {% endif %}
  <hdt-card-product class="hdt-card-product {{ class }}{% if card_product.available == false %} hdt-pr-sold_out{% endif %}" role="group" aria-label="product">
    <div class="hdt-card-product__wrapper">
      <div class="hdt-card-product__media hdt-relative hdt-oh{% if size_count > 0 %} hdt-has-size-list{% endif %}">
        <a data-pr-url href="{{ product_url }}" data-instant  calc-nav class="hdt-card-product__media-wrapp hdt-ratio"{% if image_ratio == 'adapt_image' %} style="--aspect-ratioapt: {{ featured_media.aspect_ratio | default: '127.7777778%' }}"{% endif %}>
          {%- if featured_media -%}
            {%- liquid
              echo featured_media | image_url: width: featured_media.width | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 533, 668, 720, 940, 940, 1066, 1200, 1450', data-widths: '[165, 360, 533, 668, 720, 940, 940, 1066, 1200, 1450]', class: 'hdt-card-product__media--main'
              if next_media != null and show_secondary_image
                echo next_media | image_url: width: next_media.width | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 533, 668, 720, 940, 940, 1066, 1200, 1450', class: 'hdt-card-product__media--hover'
              endif
            -%}
          {%- endif -%}
        </a>
        {% if show_only_image == false %}
          {%- render 'badges', product: card_product, use_variant: false, exclude_sale: true -%}
        {% endif %}
        {% if show_only_image == false and btn_wishlist_code != blank %}
          <div class="hdt-product-btns hdt-pr-btns-wishlist hdt-absolute">
            {% liquid
              echo btn_wishlist_code | replace_first: '19041994', card_product.id | replace_first: 'handle_nt_94', card_product.handle
            %}
          </div>
        {% endif %}
        <div class="hdt-product-btns hdt-pr-btns-group2 hdt-absolute">
          {%- liquid
            if settings.compare_mode != "0" and show_only_image == false
              render 'btn-compare', product_id: card_product.id, product_handle: card_product.handle, class: 'hdt-pr_btn hdt-card-product__btn-compare', placement: 'right'
            endif -%}
          {% if show_quick_view %}
            {% render 'btn-quick-view-custom2', class: 'hdt-pr_btn', product: card_product, section_id: section_id, placement: 'top', hide_on_desktop: hide_quick_view_on_desktop, hide_on_mobile: hide_quick_view_on_mobile %}
          {% endif %}
          {% if show_quick_buy %}
            {% render 'btn-quick-buy', class: 'hdt-pr_btn', product: card_product, disable_sr_only: false %}
          {% endif %}
          {%- if settings.show_ultra_btn %}
            {% render 'btn-ultra', class: 'hdt-pr_btn', product: card_product, product_url: product_url, section_id: section_id, disable_sr_only: false, show_qty: settings.show_qty %}
          {% endif -%}
        </div>
        {%- if card_product.metafields.theme.countdown.value != blank and show_only_image == false %}{% render 'countdown' with card_product.metafields.theme.countdown.value, class: "hdt-pr-countdown hdt-text-base hdt-font-semibold" %}{% endif -%}
        {% liquid
          assign is_custom_size = false
          if settings.size_mode == "custom_size" and show_custom_size_selector
            assign is_custom_size = true
          endif
        %}
        {% if show_only_image == false %}
          <div class="{% if is_custom_size %}hdt-product-btns-size-list hdt-absolute{% else %} hdt-product-btns hdt-pr-btns-group1 hdt-absolute{% endif %}">
            {% if size_count > 0 and is_custom_size %}
              {% liquid
                render 'size-list-custom', size_variants: size_variants, size_variants_avai: size_variants_avai, size_option_name: size_option_name, product: card_product, size_option_index: size_option_index
              %}
            {% endif %}
            {% comment %}
              {%- if show_quick_view %}{% render 'btn-quick-view', class: 'hdt-pr_btn', product: card_product, section_id: section_id, disable_sr_only: true %}{% endif -%}
            {% endcomment %}
          </div>
          {%- if card_product.available == false and show_notify_me == true -%}
             <button class="hdt-notify-me-btn hdt-absolute hdt-z-10 hdt-left-0 hdt-right-0 hdt-bottom-0 hdt-w-full hdt-flex hdt-align-center hdt-justify-center" type="button" onclick="
              event.preventDefault();
              var pData = {{ card_product | json | escape }};
              var vId = '{{ card_product.selected_or_first_available_variant.id | default: card_product.variants.first.id }}';
              var cData = null;
              {% if customer %}
                cData = {
                  shopify_customer_id: {{ customer.id }},
                  email: '{{ customer.email }}'
                };
              {% endif %}
              if (window.Stoq && window.Stoq.openModal) {
                window.Stoq.openModal(pData, vId, cData);
              } else if (window._RestockRocket && window._RestockRocket.openModal) {
                window._RestockRocket.openModal(pData, vId, cData);
              } else {
                console.log('Stoq app not loaded');
              }
             ">
               NOTIFY ME WHEN AVAILABLE
             </button>
          {%- endif -%}
          {%- liquid 
            if size_count > 0 and show_only_image == false
              render 'size-list', size_variants: size_variants, size_variants_avai: size_variants_avai, size_count: size_count
            endif -%}
          {% if card_product.available == false %}
            <div class="sold-out-badge alternate"></div>
          {% endif %}
        {% endif %}
      </div>
      {% if show_only_image == false %}
        <div class="hdt-card-product__info hdt-card-align-{{ settings.pr_card_alignment }}">
          {%- render 'badges', product: card_product, use_variant: false, only_show_sale: true -%}
          {%- if settings.show_rating %}{% render 'hdt-pr-card-rating', product: card_product %}{% endif -%}
          {%- liquid
          if card_product.vendor.size > 0 and show_vendor
            render 'vendor' with card_product.vendor, class: 'hdt-inline-block hdt-text-base hdt-font-normal'
          endif -%}
          <a data-pr-url href="{{ product_url }}" class="hdt-card-product__title hdt-text-{{ settings.pr_title_size }} hdt-font-{{ settings.pr_title_weight }} hdt-line-clamp" data-instant><h3>{{ card_product.title | escape }}</h3></a>
          {%- liquid
            if show_price
              render 'card-price', product: card_product, show_volume_note: true, price_class: "hdt-text-lg hdt-font-semibold"
            endif
            if color_count > 0
              render 'color-list', section_id: section_id, product: card_product, product_url: product_url, color_variants: color_variants, color_variants_avai: color_variants_avai, color_count: color_count, color_option_index: color_option_index, placement: 'top'
            endif
          -%}
          {% comment %}
          {% if show_quick_view %}
              {% render 'btn-quick-view-custom', product: card_product, section_id: section_id, hide_on_desktop: hide_quick_view_on_desktop, hide_on_mobile: hide_quick_view_on_mobile %}
          {% endif %}
          {% endcomment %}
        </div>
      {% endif %}
    </div>
  </hdt-card-product>
  {% if render_as_list_item %}
    </li>
  {% endif %}
