<div id="block-{{ block.id }}" class="hdt-social-wrapper">
  <div class="hdt-social-links" {{ block.shopify_attributes }}>
      {%- assign footer_social_linklist = block.settings.social_menu -%}
      {%- if linklists[footer_social_linklist].links.size > 0 %}
        {%- for social in linklists[footer_social_linklist].links -%}
          {%- assign social_handle = social.title | handleize -%}
          <a class="hdt-social-link hdt-social hdt-custom-icon-{{ social_handle }}-outline" href="{{ social.url }}" title="{{ 'general.social.links.' | append: social.handle | t }}" target="_blank">
          </a>
        {%- endfor -%}
      {%- endif -%}
    </div>
</div>

{% schema %}
{
  "name": "Custom socials",
  "tag": null,
  "settings": [
    {
        "type": "link_list",
        "id": "social_menu",
        "label": "Social Menu"
    },
  ],
  "presets": [
    {
      "name": "Custom socials"
    }
  ]
}
{% endschema %}
