<!-- sections/announcement-bar.liquid -->
{% liquid
  if section.settings.active_from != blank
    assign from_dt = section.settings.active_from | date: "%s" | plus: 0
  else
    assign from_dt = 'now' | date: '%s' | minus: 1
  endif

  if section.settings.active_to != blank
    assign to_dt = section.settings.active_to | date: "%s" | plus: 0
  else
    assign to_dt = 'now' | date: '%s' | plus: 1
  endif

  assign now_dt = "now" | date: "%s" | plus: 0
  assign active_slider_blocks = 0
%}

{% if from_dt <= now_dt and now_dt <= to_dt %}
  {%- liquid
    for block in section.blocks
      if block.settings.text != blank
        if block.settings.active_from != blank
          assign from_dt = block.settings.active_from | date: "%s" | plus: 0
        else
          assign from_dt = 'now' | date: '%s' | minus: 1
        endif

        if block.settings.active_to != blank
          assign to_dt = block.settings.active_to | date: "%s" | plus: 0
        else
          assign to_dt = 'now' | date: '%s' | plus: 1
        endif

        if from_dt <= now_dt and now_dt <= to_dt
          assign active_slider_blocks = active_slider_blocks | plus: 1
        endif
      endif
    endfor
  -%}
  <style>{%- if section.settings.show_close_btn and request.design_mode == false -%}.hdt-announcement-hidden {display: none;}{%- endif -%}</style>
  {{ 'hdt-announcement-bar.css' | asset_url | stylesheet_tag }}
  {%- if section.settings.show_close_btn and section.blocks.size > 0 -%}
    {%- capture close_btn -%}
    <div class="hdt-announcement-bar__close hdt-flex hdt-align-self-center hdt-justify-end">
      <wrapp-close-announce class="hdt-flex hdt-align-center hdt-justify-end hdt-p-0" aria-label="{{ 'accessibility.close' | t | escape }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="currentColor">
          <path d="M12 1.20857L10.7914 0L6 4.79143L1.20857 0L0 1.20857L4.79143 6L0 10.7914L1.20857 12L6 7.20857L10.7914 12L12 10.7914L7.20857 6L12 1.20857Z" fill="currentColor"/>
        </svg>
      </wrapp-close-announce>
    </div>
    {%- endcapture -%}
  {%- endif -%}
  {%- liquid
    assign total_size = 0
    assign class_format_richtext = 'hdt-tag-list'
    if section.settings.adding_border
      assign class_format_richtext = 'hdt-rte'
    endif
  -%}
  {%- liquid
    capture hide_class
      render 'hide_desktop_mobile', hide_on_desktop: section.settings.hide_on_desktop, hide_on_mobile: section.settings.hide_on_mobile
    endcapture
  -%}
  {% style %}
    {% if section.settings.hide_on_mobile %}
      @media(max-width: 1149px) {
      :root {
          --main-header-top: 0;
        }
      }
    {% endif %}
    {% if section.settings.hide_on_desktop %}
      @media(min-width: 1150px) {
      :root {
          --main-header-top: 0;
        }
      }
    {% endif %}
  {% endstyle %}
  <hdt-sticky-header sticky-type="always", prefix="header" class="{{ hide_class }}" role="region" aria-label="carousel-{{ section.id }}">
    <div aria-hidden="false" id="hdt-announcement-main" class="hdt-announcement-bar hdt-s-gradient{% if section.settings.show_line_separator and section.blocks.size > 0 %} hdt-announcement-bar--bottom-border{% endif %}" color-scheme="{{ section.settings.color_scheme }}">
      <div class="hdt-container-full{% if section.settings.design == 'slider' %} hdt-px-10 lg:hdt-px-40{% elsif section.settings.design == 'marquee' and section.settings.show_close_btn %} hdt-pe-15 lg:hdt-pe-40{% endif %}">
        {%- if section.settings.design == 'slider' -%}
          <div class="hdt-announcement-bar__grid{% if section.settings.show_close_btn %} hdt-announcement-bar__grid-has-close{% endif %}">
            {%- if active_slider_blocks == 1 -%}
              <div class="hdt-announcement-bar__wrap hdt-text-center">
                {%- for block in section.blocks -%}
                  {%- if block.settings.text != blank -%}
                    {% liquid
                      if block.settings.active_from != blank
                        assign from_dt = block.settings.active_from | date: "%s" | plus: 0
                      else
                        assign from_dt = 'now' | date: '%s' | minus: 1
                      endif

                      if block.settings.active_to != blank
                        assign to_dt = block.settings.active_to | date: "%s" | plus: 0
                      else
                        assign to_dt = 'now' | date: '%s' | plus: 1
                      endif
                    %}
                    {% if from_dt <= now_dt and now_dt <= to_dt %}
                      <div class="hdt-announcement-bar__item">
                        <p class="hdt-announcement-bar__text hdt-inline-block {{class_format_richtext}}">{{ block.settings.text }}</p>
                      </div>
                    {% endif %}
                  {%- endif -%}
                  {%- assign total_size = total_size | plus: block.settings.text.size -%}
                {%- endfor -%}
              </div>
            {%- elsif active_slider_blocks > 1 -%}
              {%- liquid
                if section.settings.au_time > 0
                  if section.settings.slider_pause_when_hover
                    assign carousel_instructions_key = 'sections.announcements.carousel_instructions_autoplay_pause_on_hover'
                  else
                    assign carousel_instructions_key = 'sections.announcements.carousel_instructions_autoplay'
                  endif
                else
                  assign carousel_instructions_key = 'sections.announcements.carousel_instructions_manual'
                endif
              -%}
              {%- assign active_slide_index = 0 -%}
              <hdt-slider id="Slider-{{ section.id }}" class="hdt-announcement-bar__wrap hdt-text-center hdt-slider lg:hdt-slides-1 hdt-relative hdt-oh" config='{ "navUI": true, "loop": true, "autoPlay": {{ section.settings.au_time | times: 1000 }}, "pauseOnHover":{{ section.settings.slider_pause_when_hover }} }' data-announcement-carousel data-dot-label-template="{{ 'accessibility.go_to_slide' | t: number: '[number]' | escape }}" aria-describedby="AnnouncementCarouselInstructions-{{ section.id }}">
                <p id="AnnouncementCarouselInstructions-{{ section.id }}" class="sr-only">{{ carousel_instructions_key | t }}</p>
                <div class="hdt-announcement-bar__slider hdt-flex hdt-align-center hdt-justify-between">
                  <button aria-controls="Slider-{{ section.id }}" aria-label="{{ 'sections.announcements.previous_announcement' | t | escape }}" class="hdt-slider__button hdt-slider__button--prev hdt-inline-flex hdt-align-center hdt-justify-start hdt-p-0" type="button" name="previous"><svg class="hdt-slider__button-icon" width="10px" height="6px" viewBox="0 0 10 6" fill="currentcolor"><path d="M-3.87939e-08 0.886524L5 5.88652L10 0.886523L9.1125 -0.000976601L5 4.11152L0.8875 -0.000976242L-3.87939e-08 0.886524Z"></path></svg></button>
                  <div class="hdt-slider__viewport">
                    <div class="hdt-slider__container">
                      {%- for block in section.blocks -%}
                        {%- if block.settings.text != blank -%}
                          {% liquid
                            if block.settings.active_from != blank
                              assign from_dt = block.settings.active_from | date: "%s" | plus: 0
                            else
                              assign from_dt = 'now' | date: '%s' | minus: 1
                            endif

                            if block.settings.active_to != blank
                              assign to_dt = block.settings.active_to | date: "%s" | plus: 0
                            else
                              assign to_dt = 'now' | date: '%s' | plus: 1
                            endif

                            assign now_dt = "now" | date: "%s" | plus: 0
                          %}
                          {% if from_dt <= now_dt and now_dt <= to_dt %}
                            {%- assign active_slide_index = active_slide_index | plus: 1 -%}
                            <div class="hdt-slider__slide hdt-announcement-bar__slider-item{% if block.settings.hide_on_desktop %} hdt-flex md:hdt-flex lg:hdt-hidden{% endif %}{% if block.settings.hide_on_mobile %} hdt-hidden md:hdt-hidden lg:hdt-flex{% endif %}" data-announcement-slide data-announcement-slide-index="{{ active_slide_index }}" aria-hidden="{% if active_slide_index == 1 %}false{% else %}true{% endif %}">
                              <div class="hdt-announcement-bar__slider-content">
                                <p class="hdt-announcement-bar__text  hdt-inline-block {{class_format_richtext}}">{{ block.settings.text }}</p>
                              </div>
                            </div>
                          {% endif %}
                        {%- endif -%}
                        {%- assign total_size = total_size | plus: block.settings.text.size -%}
                      {%- endfor -%}
                    </div>
                  </div>
                  <button aria-controls="Slider-{{ section.id }}" aria-label="{{ 'sections.announcements.next_announcement' | t | escape }}" class="hdt-slider__button hdt-slider__button--next hdt-inline-flex hdt-align-center hdt-justify-end hdt-p-0" type="button" name="next"><svg aria-hidden="true" focusable="false" class="hdt-slider__button-icon" width="10px" height="6px" viewBox="0 0 10 6" fill="currentcolor"><path d="M-3.87939e-08 0.886524L5 5.88652L10 0.886523L9.1125 -0.000976601L5 4.11152L0.8875 -0.000976242L-3.87939e-08 0.886524Z"></path></svg></button>
                </div>
                <div aria-controls="Slider-{{ section.id }}" hdt-slider-dots class="hdt-announcement-bar__dots hdt-slider__dots hdt-inline-flex hdt-align-center hdt-justify-center no-js-hidden"></div>
              </hdt-slider>
            {%- endif -%}
            {{- close_btn -}}
          </div>  
        {%- else -%}
        <div class="hdt-announcement-bar__marquee{% if section.settings.show_close_btn %} hdt-announcement-bar__marquee-has-close{% endif %}">
         <div class="hdt-announcement-bar__marquee-wrap hdt-oh">
            <hdt-marquee speed="{{ section.settings.speed }}" direction="{{ section.settings.direction }}"{% if section.settings.marquee_pause_when_hover %} pause-on-pointer-enter{% endif %} class="hdt-marquee hdt-block hdt-relative hdt-oh hdt-current-scrollbar">
              <div class="hdt-marquee-item">
                {%- for block in section.blocks -%}
                  {%- if block.settings.text != blank -%}
                    {% liquid
                      if block.settings.active_from != blank
                        assign from_dt = block.settings.active_from | date: "%s" | plus: 0
                      else
                        assign from_dt = 'now' | date: '%s' | minus: 1
                      endif

                      if block.settings.active_to != blank
                        assign to_dt = block.settings.active_to | date: "%s" | plus: 0
                      else
                        assign to_dt = 'now' | date: '%s' | plus: 1
                      endif

                      assign now_dt = "now" | date: "%s" | plus: 0
                    %}
                    {% if from_dt <= now_dt and now_dt <= to_dt %}
                      <div class="hdt-announcement-bar__marquee-item hdt-inline-block hdt-relative {{class_format_richtext}}{% if block.settings.hide_on_desktop %} hdt-inline-block md:hdt-inline-block lg:hdt-hidden{% endif %}{% if block.settings.hide_on_mobile %} hdt-hidden md:hdt-hidden lg:hdt-inline-block{% endif %}"><p>{{ block.settings.text }}</p></div>
                    {% endif %}
                  {%- endif -%}
                  {%- assign total_size = total_size | plus: block.settings.text.size -%}
                {%- endfor -%}
              </div>
            </hdt-marquee>
          </div>
          {{- close_btn -}}
        </div>
        {%- endif -%}
      </div>
    </div>
  </hdt-sticky-header>
  {%- if section.settings.design == 'slider' and active_slider_blocks > 1 -%}<script src="{{ 'announcement-bar-custom.js' | asset_url }}" defer></script>{%- endif -%}
  {%- if section.settings.show_close_btn %}<script>window.announceSize = 'theme4:announce-{{ total_size }}-closed';try { if ( sessionStorage.getItem(window.announceSize) != 'true' ) document.getElementById('shopify-section-{{ section.id }}').classList.remove('hdt-announcement-hidden'); } catch (err) {}</script>{% endif -%}
{% endif %}
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "class": "hdt-section-group hdt-announcement-hidden hdt-announcement-bar-section hdt-section-header",
  "max_blocks": 12,
  "limit": 1,
  "enabled_on": {
    "groups": [
      "header"
    ]
  },
  "settings": [
    {
      "id": "hide_on_desktop",
      "type": "checkbox",
      "label": "Hide on desktop",
      "default": false
    },
    {
      "id": "hide_on_mobile",
      "type": "checkbox",
      "label": "Hide on tablet, mobile",
      "default": false
    },
    {
      "id": "active_from",
      "label": "Active from (YYYY-MM-DD HH:MM:SS)",
      "type": "text",
      "placeholder": "Optional"
    },
    {
      "id": "active_to",
      "label": "Active up to (YYYY-MM-DD HH:MM:SS)",
      "type": "text",
      "placeholder": "Optional"
    },
    {
      "type": "select",
      "id": "design",
      "label": "t:sections.announcement-bar.settings.design.label",
      "options": [
        {
          "value": "slider",
          "label": "t:sections.announcement-bar.settings.design.options.slider"
        },
        {
          "value": "marquee",
          "label": "t:sections.announcement-bar.settings.design.options.marquee"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "show_close_btn",
      "label": "t:sections.announcement-bar.settings.show_close_btn.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "label": "t:sections.announcement-bar.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "adding_border",
      "label": "t:sections.all.adding_border.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header_slider.label"
    },
    {
      "type": "range",
      "id": "au_time",
      "min": 0,
      "max": 30,
      "step": 0.5,
      "label": "t:sections.announcement-bar.settings.au_time.label",
      "info": "t:sections.announcement-bar.settings.au_time.info",
      "unit": "sec",
      "default": 3.5
    },
    {
      "type": "checkbox",
      "id": "slider_pause_when_hover",
      "default": false,
      "label": "t:sections.announcement-bar.settings.pause_when_hover.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header_marquee.label"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 0.1,
      "max": 1,
      "step": 0.1,
      "default": 0.3,
      "unit": "sec",
      "label": "t:sections.announcement-bar.settings.speed.label"
    },
    {
      "type": "select",
      "id": "direction",
      "default": "rtl",
      "label": "t:sections.announcement-bar.settings.direction.label",
      "options": [
        {
          "value": "rtl",
          "label": "t:sections.announcement-bar.settings.direction.options.rtl"
        },
        {
          "value": "ltr",
          "label": "t:sections.announcement-bar.settings.direction.options.ltr"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "marquee_pause_when_hover",
      "default": false,
      "label": "t:sections.announcement-bar.settings.pause_when_hover.label"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "id": "link",
          "label": "Link",
          "type": "url"
        },
        {
          "id": "active_from",
          "label": "Active from (YYYY-MM-DD HH:MM:SS)",
          "type": "text",
          "placeholder": "Optional"
        },
        {
          "id": "active_to",
          "label": "Active up to (YYYY-MM-DD HH:MM:SS)",
          "type": "text",
          "placeholder": "Optional"
        },
        {
          "id": "hide_on_desktop",
          "type": "checkbox",
          "label": "Hide on desktop",
          "default": false
        },
        {
          "id": "hide_on_mobile",
          "type": "checkbox",
          "label": "Hide on tablet, mobile",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.name",
      "blocks": [
        {
          "type": "announcement",
          "settings": {
            "text": "Welcome to our store"
          }
        },
        {
          "type": "announcement",
          "settings": {
            "text": "The best shopify theme"
          }
        }
      ]
    }
  ]
}
{% endschema %}
