{% liquid
  if section.settings.active_from != blank
    assign from_dt = section.settings.active_from | date: "%s" | plus: 0
  else
    assign from_dt = 'now' | date: '%s' | minus: 1
  endif

  if section.settings.active_to != blank
    assign to_dt = section.settings.active_to | date: "%s" | plus: 0
  else
    assign to_dt = 'now' | date: '%s' | plus: 1
  endif

  assign now_dt = "now" | date: "%s" | plus: 0
%}

{% if from_dt <= now_dt and now_dt <= to_dt %}
  {% style %}
    #{{ section.id }}{
      --section-pt: {{ section.settings.padding_top }}px;
      --section-pb: {{ section.settings.padding_bottom }}px; 
      --section-prate: {{ section.settings.padding_rate }};
      --spacing-dk: {{ section.settings.item_spacing }}px;
      --spacing-tb: {{ section.settings.item_spacing_tb }}px;
      --spacing-mb: {{ section.settings.item_spacing_mb }}px;

      {% if section.settings.max_container_width %}
        --container-max-width-padding-lg: {{ section.settings.max_container_width }}px;
        & > .hdt-container, .hdt-container-full {
          padding: 0 20px;
        }
      {% endif %}
    }
  {% endstyle %}
  {% liquid
    capture hide_class
      render "hide_desktop_mobile", hide_on_desktop: section.settings.hide_on_desktop, hide_on_mobile: section.settings.hide_on_mobile
    endcapture
  %}
  <div id="{{ section.id }}" class="hdt-s-inner hdt-s-gradient hdt-section-spacing {{ hide_class }}" color-scheme="{{ section.settings.color_scheme }}" hdt-reveal="fade-in">
    <div class="hdt-container {%- if section.settings.full_width -%}-full{%- endif %}">
      {% content_for 'blocks' %}
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Page utility",
  "class": "hdt-section hdt-section--custom hdt-section-page-utility",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_multi_row",
    },
    {
      "type": "_multi_row_2"
    },
    {
      "type": "_image-banner"
    }
  ],
  "settings": [
    {
      "id": "hide_on_desktop",
      "type": "checkbox",
      "label": "Hide on desktop",
      "default": false
    },
    {
      "id": "hide_on_mobile",
      "type": "checkbox",
      "label": "Hide on tablet, mobile",
      "default": false
    },
    {
      "id": "active_from",
      "label": "Active from (YYYY-MM-DD HH:MM:SS)",
      "type": "text",
      "placeholder": "Optional"
    },
    {
      "id": "active_to",
      "label": "Active up to (YYYY-MM-DD HH:MM:SS)",
      "type": "text",
      "placeholder": "Optional"
    },
    {
      "type": "header",
      "content": "Spacing item"
    },
    {
      "type": "range",
      "id": "item_spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Spacing between item",
      "default": 30
    },
    {
      "type": "range",
      "id": "item_spacing_tb",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Spacing between item tablet",
      "default": 15
    },
    {
      "type": "range",
      "id": "item_spacing_mb",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Spacing between item mobile",
      "default": 15
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.full_width.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "range",
      "id": "max_container_width",
      "min": 0,
      "max": 2000,
      "step": 20,
      "unit": "px",
      "label": "Max container width",
      "default": 780,
      "info": "Set to 0 to ignore this setting."
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Page utility"
    }
  ]
}
{% endschema %}
